div#CybotCookiebotDialogBodyLevelDetailsWrapper {
	background-color: #e6e7e8;
}
#CybotCookiebotDialogDetailBodyContentTabsAbout,#CybotCookiebotDialogDetailBodyContentCookieContainerUnclassified{
	display:none !important;
}
.outsideua #CybotCookiebotDialogBodyLevelButtonsSelectPane,
.outsideua #CybotCookiebotDialogBodyLevelButtonLevelOptinAllowallSelection,.outsideua #CybotCookiebotDialogBodyLevelButtonLevelOptinDeclineAll{
	display: none !important; 
}
.outsideua #CybotCookiebotDialogBodyLevelButtonLevelOptinAllowallSelectionWrapper{
	float: left !important;
}
.outsideua #CybotCookiebotDialogBodyLevelDetailsWrapper{
	float: right;
	margin-top: -32px;
	background-color: transparent !important;
	border: none !important;
}
.outsideua #CybotCookiebotDialogBodyLevelButtonLevelOptinAllowallSelectionWrapper #CybotCookiebotDialogBodyLevelButtonLevelOptinAllowAll{
	margin-left: 0px;
}
#CybotCookiebotDialog #CybotCookiebotDialogBody{
	/* opacity: 0;
	visibility: hidden; */
	transition: all 0.5s;
}
a#CybotCookiebotDialogBodyLevelButtonAccept:hover, a#CybotCookiebotDialogBodyLevelButtonLevelOptinAllowAll:hover, a#CybotCookiebotDialogBodyLevelButtonLevelOptinAllowAll {
	background-color: #f37037!important;
	border: 1px solid #f37037!important;
	color: #fff!important;
}
a#CybotCookiebotDialogBodyLevelButtonLevelOptinDeclineAll,a#CybotCookiebotDialogBodyLevelButtonLevelOptinDeclineAll:hover,a#CybotCookiebotDialogBodyLevelButtonLevelOptinAllowallSelection:hover, a#CybotCookiebotDialogBodyLevelButtonLevelOptinAllowallSelection{
	background-color: #fff !important;
	border: 1px solid #000 !important;
	color: #000 !important;
	 padding: 10px;
	font-weight: normal; 
}
a#CybotCookiebotDialogBodyLevelButtonLevelOptinAllowAll{
	font-weight: 300 !important;
}
#CybotCookiebotDialogBodyContent{
	padding: 40px 0 25px 0px !important;
}
#CybotCookiebotDialogBodyButtonAccept,#CybotCookiebotDialogBodyButtonAccept:hover{
	background-color: #f37037!important;
	border: 1px solid #f37037!important;
	color: #fff!important;
}
div#CybotCookiebotDialog {
	background-color: #e6e7e8!important;
}
div#CybotCookiebotDialogDetail {
	background-color: #e6e7e8;
}

div#CybotCookiebotDialogBody{
	max-width: 1140px;
	padding: 0 !important;
    padding: 0 15px !important;
}

div#CybotCookiebotDialogDetailBody {
    max-width: 1105px;
}

@media (min-width: 768px) {
	div#CybotCookiebotDialogBody, div#CybotCookiebotDialogDetailBody {
		/* max-width: 720px; */
		padding-left: 8px;	
	}
}

/*---------------- Custom CSS for only tablet -------------------*/
@media (min-width: 768px) and (max-width: 1024px) {
  
	div#CybotCookiebotDialogBody, div#CybotCookiebotDialogDetailBody {
		max-width: 720px;
		padding-left: 8px;	
	}
}


/*---------------- Custom CSS for only mobile -------------------*/
@media (max-width: 767px){
div#CybotCookiebotDialogBody, div#CybotCookiebotDialogDetailBody {
		max-width: 540px;
		padding: 10px;
	}
}