body h2{
	font-family: 'DM Sans', sans-serif !important;
	letter-spacing: -1px !important;
}
.container #filter_data .card .card-body a,
.grids .grid .grid-heading,
.bottom-text-location h1, .bottom-text-location p{
	font-family: 'DM Sans', sans-serif !important;
	font-weight:700 !important;
}
div#marketo_contact form,button,form.mktoForm div.mktoCheckboxList>label,.mktoForm textarea#Message__c{
	font-family: 'DM Sans', sans-serif !important;
}
.marketo-contact-form .mktoForm input[type=color], .marketo-contact-form .mktoForm input[type=date], .marketo-contact-form .mktoForm input[type=datetime-local], .marketo-contact-form .mktoForm input[type=datetime], .marketo-contact-form .mktoForm input[type=email], .marketo-contact-form .mktoForm input[type=month], .marketo-contact-form .mktoForm input[type=number], .marketo-contact-form .mktoForm input[type=password], .marketo-contact-form .mktoForm input[type=search], .marketo-contact-form .mktoForm input[type=tel], .marketo-contact-form .mktoForm input[type=text], .marketo-contact-form .mktoForm input[type=time], .marketo-contact-form .mktoForm input[type=url], .marketo-contact-form .mktoForm input[type=week], .marketo-contact-form .mktoForm textarea{
	font-family: 'DM Sans', sans-serif !important;
}
.video-section .my-space p,
p,
h1,
h2,
h3,
h4,
h5,
h6,
p.heading-text,
.car-heading a,
* .work-text.Meet-text,
.project-description .user-text,
.project-description .Related,
.news-para-main .user-text,
.events-para .user-text,
p.heading-text,
.touch p:first-child,
.location_section_title,
h5 a,
.carousel2-headertext a,
.breadcrumb,
.nav-country-selector-options a.nav-link,
.event-text, .hero-content, .hero-content span,
.let-text,
.grid.multi-list p.title,
#page_1 p, #page_1 h1, #page_1 h2, #page_1 h3, #page_1 h4, #page_1 h5, 
#page_1 h6, #page_1 span,
.atlassian-box .tile-section,
h2.big-text,
section.content.list-grid p.title,
.job-listing .insight-description  #page_1 h2.event-text {
    font-family: 'DM Sans', sans-serif !important;
	font-weight:100;
}
.page-template-career_search_page .breadcrump-share.container .breadcrumb-item a,
#carersearchpage .career-pagelink .applynow span, .main_cat,
.main-location-details .location_address_details{
 font-family: 'DM Sans', sans-serif;
 font-weight:300;
}
.consumer-text.work-text.Meet-text,
.grid.multi-list .services .title{
    font-family: 'DM Sans', sans-serif;
	font-weight:100;
}
.insight-description #page_1 ol li {
    font-family: 'DM Sans', sans-serif;
	font-weight:100;
}
#hero.careerspage .selectdiv1 #by_keyword{
   font-family: 'DM Sans', sans-serif;
}
.des-heading, .req-heading, .res-heading,
.applynow-form .applynow-btn,
.main-location-details p.location_section_title,
.main-location-details .phone-no ,
.job-listing h5,
.detail1 td:first-child  {
    font-family: 'DM Sans', sans-serif;
	font-weight:500;
}
.address_map_link {
    font-family: 'DM Sans', sans-serif;
	font-weight:300;
}
.address {
    font-family: 'DM Sans', sans-serif;
	font-weight:300;
}
.btn-group.show .multiselect-container.dropdown-menu a label:before{
	font-family: 'DM Sans', sans-serif;
	font-weight:300;
}

header, .navbar-font, .nav-top.fixed-top .add_my_customize>li>a.nav-link,
#page_1 span, #page_1 p, .breadcrumb-item a,
span, li .breadcrumb-item, html,
body, p , .linkbutton, .hero-description , .hero-btn , 
.services_icons_list>li .services_home_text,
.grids .grid.icon-list p.brand,
.grids .grid .grid-description,
.grids .grid .grid-readmore, .grids .grid .grid-readmore .blog-texts, 
.grids .grid .learn-more-link, .grids .grid .grid-readmore a, 
.grids .grid .learn-more-link a,
.grids .grid.no-link .desc-container .grid-heading,
.grids .grid.overview .overview-head p,
.grids .grid.overview .overview-desc p,
.gl-btn-black,
.wp-pagination a, .wp-pagination span,
.filterContainer span,
.insight-description #page_1, 
.insight-description #page_1 h2, 
.insight-description #page_1 h4,
.insight-description #page_1 span,
.insight-description #page_1 ul li,
.description p,
.jim h5,
.video-section .my-space,
.video-section .my-space p,
.footer  ul.footer-list,
p.user-para, p.user-para span,
.bottom-text-location .details-location span,
.address1 h5, .address2 h5,
.thankyou h2,
.accordion-body,
h5.f-regular,
.career-container .career-pagelink .id-num,
.career-container .career-filter-box tr td h6.fsz-14,
.detail1 td:nth-child(2),
.sidebarfilterbycat .table tr td h6.fsz-14,
.career-pagelink .card .card-body p, .career-pagelink .card .card-body p a,
.dynamic-content h1,.dynamic-content h5{
    font-family: 'DM Sans', sans-serif;
	font-weight:400;
}


.mktoForm * ,
div#CybotCookiebotDialog * {
    font-family: 'DM Sans', sans-serif!important;
}